

body {
    font-family: $fuente-principal; 
    color: $color-principal;
    
  }

  .grid-container {
    height: 100vh;
    /* background-color: aquamarine; */
    display: grid ;
    grid-template-rows: 0.2fr auto 0.2fr;
    grid-template-areas: 
      "header "
      "main "
      "footer "
    ;
  }