* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif; 
  color: darkblue;
}

.grid-container {
  height: 100vh;
  /* background-color: aquamarine; */
  display: grid ;
  grid-template-rows: 0.2fr auto 0.2fr;
  grid-template-areas: 
    "header "
    "main "
    "footer "
  ;
}

.header {
  /* background-color: blue; */
  grid-area: header;
  background-image: url("../assets/banner3.avif");
  background-size: cover;
}

.logo-header{
  /* display: inline-block; */
  height: 200px;
}

/* .brand {
  display: flex;
  align-items: center;
} */

.div-logo {
  display: inline-block;
  width: 20%;
}

.txt-header {
  display: inline-block;
  width: 70%;
  /* display: flex; */
  text-align: center;
}

/* .nav {
  display: flex;
  justify-content: end;
  grid-area: nav;
} */

/* .nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  margin: 10px;
}

.nav ul li a {
  text-decoration: none;
} */

main {
  grid-area: main;
}

main section {
  display: flex;
  
  align-items: center;
  justify-content: space-around;
}

.main-p {
  text-align: justify;
}

iframe {
  width: "560px";
  height: "315px"
}


.footer {
  /* background-color: red; */
  grid-area: footer;
}

footer {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-image: url("../assets/banner3.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-footer{
  /* display: inline-block; */
  height: 120px;
}

/* .btn {
  background-color: #8AC9F0;
  border-style: none;
} */

.btn-outline-info {
  --bs-btn-color: #8AC9F0;
    --bs-btn-border-color: #8AC9F0;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #8AC9F0;
}

.nos-main-section {
  /* display: inline-block; */
  padding: 15px;
  vertical-align: middle;
  min-width: 33%;
  text-align: center;
}

.nos-main-article {
  display: inline-block;
  vertical-align: middle;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 400;
  padding: 15px 150px 15px 150px;
}

.nos-text {
  text-align: justify;
}
.nos-main-img {
  height: 300px;
}

.con-main-section {
  display: block;
  padding: 15px;
  min-width: 33%;
  text-align: center;
}

.con-main-article {
  display: block;
  text-align: left;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 400;
  padding: 15px 150px 15px 150px;
}

.con-main-logo {
  display: inline-block;
  width: 20%;
  align-items: center;
}

.con-logo {
  height: 200px;
}

.btn {
  width: 5rem;
  background-color: #8AC9F0;
  border-color: #78c0ed;
  margin-bottom: 1rem;
  text-align: center;
}

.btn:hover {
  background-color: white;
  border-color: #78c0ed;
}

@media (max-width: 1200px){
  main section {
    display: block;
    text-align: center;
  }

}

@media (max-width: 992px){
    main section {
      display: block;
      text-align: center;
    }
    iframe  {
      width: 400px;
      height: 380px;
    }
    form {
      text-align: center;
    }
    form input , textarea, label{
      width: 100%;
      text-align: left;
    }

    .btn {
      margin-bottom: 1rem;
      text-align: center;
    } 
}

@media (max-width: 768px){
  main section {
    display: block;
    text-align: center;
  }
  iframe  {
    width: 320px;
    height: 280px;
  }
}